@import "tailwindcss";

/* Light Theme (Default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-500: #03c855;
}

/* Expose variables to Tailwind's design tokens */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: var(--primary-500);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .container-custom {
    /* @apply max-w-[1320px] mx-auto md:px-20 px-6; */
    @apply max-w-[1320px] mx-auto;
  }
}
